# Python-specific
*.pyc
__pycache__/

# Virtual environment
env/
.env

# IDE-specific
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Temporary files
*.swp
*.swo
*.log

# Ignore any files or directories specific to your project structure or development environment
